Repository Johnnydev001/to-do-list-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend/template.yml, pipelines/frontend/template.yml

pipelines/backend/template.yml:

# Main backend template
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - pipelines/backend/*
      - backend/*

pool:
  name: "self-agent-pool"

variables:
  #azureResourceManagerServiceConnection: "ARM service connection"
  #azureContainerRegistryServer: "todolistazureacr.azurecr.io"
  dockerImageName: todolistbackend
  #azureContainerRegistryRepo: "$(azureContainerRegistryServer)/$(dockerImageName):$(Build.BuildId)"

stages:
  - stage: build
    displayName: Build application
    jobs:
      - template: build-job-template.yml

pipelines/frontend/template.yml:

# Main frontend template
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - pipelines/frontend
      - frontend
pool:
  name: "self-agent-pool"

stages:
  - stage: build
    displayName: Build application
    jobs:
      - template: ./build-job-template.yml
        parameters:
          frontendFolderDirectory: $(frontendFolderDirectory)
  # - stage: deploy
  #   displayName: Deploy to Azure
  #   jobs:
  #     - template: ./deploy-job-template.yml

final docker compose tests
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend/tests/controllers/TodoControllerTests.kt
  compose.yml
  frontend/vite.config.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

working on unit tests
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-item.tsx
  frontend/src/components/todo/todolist-view.tsx
  frontend/src/components/ui/searchInput.tsx
  frontend/src/tests/unit/todo-unit-tests.test.tsx
  frontend/src/types/searchInput.type.ts
  frontend/vitest.config.js
Due: pipelines/frontend/template.yml

working on tests
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/pagination/pagination-container.tsx
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-view.tsx
  frontend/src/tests/end-to-end/todo-end-to-end.spec.ts
Due: pipelines/frontend/template.yml

creating both frontend and backend k8s deployments
  compose.yml
  kubernetes/backend/deployment.yml
  kubernetes/backend/service.yml
  kubernetes/frontend/deployment.yml
  kubernetes/frontend/service.yml
Due: none

final k8s deployment touches
  kubernetes/backend/deployment.yml
  kubernetes/frontend/deployment.yml
Due: none

add frontend screenshot
  frontend/public/screenshot.png
Due: pipelines/frontend/template.yml

adding git ignore stuff
  backend/.dockerignore
  backend/.env.example
  backend/.gitignore
  frontend/.dockerignore
  frontend/.env.example
  frontend/.gitignore
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

Create README.md
  README.md
Due: none

Update README.md
  README.md
Due: none
