Repository Johnnydev001/to-do-list-azure: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/backend/template.yml, pipelines/frontend/template.yml

pipelines/backend/template.yml:

# Main backend template
trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - backend

pool:
  name: "self-agent-pool"

variables:
  azureSubscription: 21349f35-6fe1-47b3-abb3-14bb3b244c7c
  azureContainerRegistryServer: "todolistazureacr.azurecr.io"
  dockerImageName: todolistbackend
  azureContainerRegistryRepo: "$(azureContainerRegistryServer)/$(dockerImageName):$(Build.BuildId)"

stages:
  - stage: build
    displayName: Build application
    jobs:
      - template: build-job-template.yml

  - stage: deploy
    displayName: Deploy to Azure
    jobs:
      - template: deploy-job-template.yml

pipelines/frontend/template.yml:

# Main frontend template
trigger:
  branches:
    include: 
      - dev
  paths:
    include:
      - frontend
pool:
  name: "self-agent-pool"

stages:
  - stage: build
    displayName: Build application
    jobs:
      - template: ./build-job-template.yml
        parameters:
          frontendFolderDirectory: $(frontendFolderDirectory)
  # - stage: deploy
  #   displayName: Deploy to Azure
  #   jobs:
  #     - template: ./deploy-job-template.yml

changing the subscription
  pipelines/backend/template.yml
Due: none

using the service connection for the arm
  pipelines/backend/deploy-job-template.yml
  pipelines/backend/template.yml
Due: none

installing azure cli on the self hosted agent
  pipelines/backend/deploy-job-template.yml
Due: none

adding pipeline triggers
  pipelines/backend/template.yml
  pipelines/frontend/template.yml
Due: none

fixing pipeline triggers
  pipelines/backend/template.yml
  pipelines/frontend/template.yml
Due: none

installing azure cli
  backend/src/main/kotlin/com/example/backend/controllers/TodoListController.kt
  backend/src/main/kotlin/com/example/backend/services/TodoListService.kt
  pipelines/backend/deploy-job-template.yml
Due: pipelines/backend/template.yml

removing install script
  pipelines/backend/deploy-job-template.yml
Due: none

working on service layer
  backend/src/main/kotlin/com/example/backend/controllers/TodoListController.kt
  backend/src/main/kotlin/com/example/backend/models/TodoModel.kt
  backend/src/main/kotlin/com/example/backend/services/TodoListService.kt
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/services/todo.service.ts
  frontend/src/types/todo.type.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

working on the backend call to get the todos
  backend/src/main/kotlin/com/example/backend/controllers/TodoListController.kt
  backend/src/main/kotlin/com/example/backend/models/TodoModel.kt
  backend/src/main/kotlin/com/example/backend/services/TodoListService.kt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-view.tsx
  frontend/src/hooks/useGetTodos.ts
  frontend/src/services/todo.service.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

working on a custom hook to handle service logic and improving reusability
  backend/src/main/kotlin/com/example/backend/controllers/TodoListController.kt
  backend/src/main/kotlin/com/example/backend/models/TodoModel.kt
  backend/src/main/kotlin/com/example/backend/services/TodoListService.kt
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-view.tsx
  frontend/src/hooks/useGetTodos.ts
  frontend/src/services/todo.service.ts
  frontend/src/types/todo.type.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

removing unnecessary hook logic
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/hooks/useGetTodos.ts
Due: pipelines/frontend/template.yml

reusing the request options object
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/hooks/useGetTodos.ts
Due: pipelines/frontend/template.yml

adding light dark mode theme
  backend/src/main/kotlin/com/example/backend/controllers/TodoListController.kt
  frontend/src/App.tsx
  frontend/src/components/contexts/index.tsx
  frontend/src/components/footer/footer.tsx
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-item.tsx
  frontend/src/components/todo/todolist-view.tsx
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

adding swagger/openapi documentation
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend/controllers/TodoListController.kt
  backend/src/main/kotlin/com/example/backend/models/TodoModel.kt
  backend/src/main/resources/application.properties
  frontend/src/App.tsx
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-view.tsx
  frontend/src/contexts/index.tsx
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

connecting to mongodb and adding the necessary logic
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/controllers/TodoListController.kt
  backend/src/main/kotlin/com/example/backend/database/MongoConfig.kt
  backend/src/main/kotlin/com/example/backend/models/TodoModel.kt
  backend/src/main/kotlin/com/example/backend/repositories/TodoRepository.kt
  backend/src/main/kotlin/com/example/backend/services/TodoListService.kt
Due: pipelines/backend/template.yml

working on the repository mongodb logic
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/database/MongoConfig.kt
  backend/src/main/kotlin/com/example/backend/repositories/TodoRepository.kt
  backend/src/main/kotlin/com/example/backend/services/TodoListService.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  frontend/src/components/todo/todolist-container.tsx
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

working on the mongodb dependency injection and authentication with the azure keyvault
  backend/.gitignore
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend/BackendApplication.kt
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/database/MongoConfig.kt
  backend/src/main/kotlin/com/example/backend/models/TodoModel.kt
  backend/src/main/kotlin/com/example/backend/services/EnvService.kt
  backend/src/main/kotlin/com/example/backend/services/KeyvaultService.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
Due: pipelines/backend/template.yml

fixing the env variables and dependency injections
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend/config/CorsConfig.kt
  backend/src/main/kotlin/com/example/backend/config/MongoConfig.kt
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/database/MongoConfig.kt
  backend/src/main/kotlin/com/example/backend/repositories/TodoRepository.kt
  backend/src/main/kotlin/com/example/backend/services/EnvService.kt
  backend/src/main/kotlin/com/example/backend/services/KeyvaultService.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  backend/src/main/resources/application.properties
  backend/src/main/resources/application.yml
Due: pipelines/backend/template.yml

working on the deletion of todos
  backend/src/main/kotlin/com/example/backend/config/CorsConfig.kt
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-view.tsx
  frontend/src/hooks/useGetTodos.ts
  frontend/src/services/todo.service.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

improving the custom hook logic
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/hooks/useHandleTodos.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

removing unnecessary azure logic
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend/config/MongoConfig.kt
  backend/src/main/kotlin/com/example/backend/services/KeyvaultService.kt
  backend/src/main/resources/application.yml
  frontend/index.html
  frontend/src/components/todo/todolist-container.tsx
  pipelines/backend/template.yml
  pipelines/frontend/deploy-job-template.yml
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

fixing the deletion issues
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/hooks/useHandleTodos.ts
  frontend/src/services/todo.service.ts
  frontend/src/types/todo.type.ts
Due: pipelines/frontend/template.yml

trying to fix the cors issue
  backend/src/main/kotlin/com/example/backend/config/CorsConfig.kt
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/hooks/useHandleTodos.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

working on the sorting logic
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/repositories/TodoRepository.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  frontend/src/components/todo/todolist-container.tsx
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

adding the sorting functionality
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-item.tsx
  frontend/src/components/ui/searchInput.tsx
  frontend/src/hooks/useHandleTodos.ts
  frontend/src/services/todo.service.ts
  frontend/src/types/searchInput.type.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

working on the search functionality
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/ui/searchInput.tsx
  frontend/src/hooks/useHandleTodos.ts
  frontend/src/types/searchInput.type.ts
Due: pipelines/frontend/template.yml

working on the search functionality
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/hooks/useHandleTodos.ts
  frontend/src/services/todo.service.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

fixing the get by id, get all and delete by id flows
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/hooks/useHandleTodos.ts
  frontend/src/services/todo.service.ts
Due: pipelines/frontend/template.yml

adding search by text instead of id
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/repositories/TodoRepository.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  frontend/src/components/pagination/pagination-container.tsx
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/hooks/useHandleTodos.ts
  frontend/src/services/todo.service.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

working on pagination
  frontend/src/components/pagination/pagination-container.tsx
  frontend/src/components/todo/todolist-container.tsx
Due: pipelines/frontend/template.yml

working on the pagination algorithm
  frontend/src/components/pagination/pagination-container.tsx
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/hooks/useHandlePagination.ts
  frontend/src/hooks/useHandleTodos.ts
Due: pipelines/frontend/template.yml

fixing pagination styling
  frontend/src/components/pagination/pagination-container.tsx
  frontend/src/components/todo/todolist-container.tsx
Due: pipelines/frontend/template.yml

working on pagination
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-view.tsx
  frontend/src/hooks/useHandlePagination.ts
  frontend/src/hooks/useHandleTodos.ts
Due: pipelines/frontend/template.yml

removing the cors config and fixing the todo creation
  backend/src/main/kotlin/com/example/backend/config/CorsConfig.kt
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-view.tsx
  frontend/src/hooks/useHandleTodos.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

fixing the creation of todos and improving controller validation
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/models/TodoModel.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  frontend/src/components/todo/todolist-container.tsx
  frontend/src/components/todo/todolist-item.tsx
  frontend/src/hooks/useHandleTodos.ts
  frontend/src/types/todo.type.ts
Due: pipelines/backend/template.yml, pipelines/frontend/template.yml

creating todo dto for decoupling
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/dto/TodoDTO.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
Due: pipelines/backend/template.yml

adding req body validation with bindingResult
  backend/src/main/kotlin/com/example/backend/controllers/TodoController.kt
  backend/src/main/kotlin/com/example/backend/models/TodoModel.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
Due: pipelines/backend/template.yml

improving error handling on the service layer
  backend/src/main/kotlin/com/example/backend/repositories/TodoRepository.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
  backend/src/main/kotlin/com/example/exceptions/GlobalExceptionHandler.kt
Due: pipelines/backend/template.yml

improving error handling
  backend/src/main/kotlin/com/example/backend/repositories/TodoRepository.kt
  backend/src/main/kotlin/com/example/backend/services/TodoService.kt
Due: pipelines/backend/template.yml

working on junit tests
  backend/build.gradle.kts
  backend/src/main/kotlin/com/example/backend/tests/controllers/TodoControllerTests.kt
Due: pipelines/backend/template.yml
